
#features{
  padding: 7% 15%;
}

#title {
  background-color: #FF4C68;
}

body {
  font-family: "Montserrat";
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}
.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 600;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
  font-weight: lighter;
}

.nav-link {
  font-size: 1.5rem;
}

.download-button {
  margin: 10% 3% 5% 0;
}

button {
  margin: 20px auto;
}

nav {
  margin-bottom: 60px;
}

.iphone6-img {
  position: relative;
  top: 25px;
  left: 100px;
  transform: rotate(25deg);
  z-index: -1
  width: 55%;
  margin-bottom: -250px;
}

.features {
  display: inline-block;
  text-align: center;
  padding: 5%;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

#top-container {
  overflow: hidden;
}

/* Testimonial Section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4.5rem;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 7%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  text-align: center;
  padding: 2% 0 2%;
}

.pricingText {
  padding: 2% 0;
}

.row {
  margin: 20px;
}

.card-footer {
  border-width: 0px;
  background-color: #fff;
}

/* Footer Section */
#cta {
  text-align: center;
  padding-top: 2%;
  background-color: #ff4c68;
  padding: 3% 0 2%;
}

.footerHeading {
  font-family: "Montserrat";
  font-weight: bold;
  color: #fff;
}

.footer-btn {
  margin: 2% 0.5%;
}

.footer-glyph {
  text-align: center;
}

footer {
  padding-top: 3%;
}

.copyright {
  text-align: center;
  padding: 1% 0 3%;
  font-weight: lighter;
}

.fab-footer {
  padding: 0 0.4%;
}

@media (max-width: 1130px) {

.navbar-toggler {
  position: relative;
  left: 100px;
}
  .title-div {
    width: 400px;
  }

  .iphone6-img {
    position: static;
    transform: rotate(0);
    text-align: center;
    margin: 30px 0 30px;

  }

 .download-button {
   display: inline-block;
 }

  .title-heading {
    text-align: center;
  }

  #title {
    text-align: center;
  }

}
