/* Common Styles */

#testimonials, #press {
  background-color: #ef8172;
}

#title, #cta {
  background-color: #ff4c68;
}

.footerHeading, #testimonials {
  color: #fff;
}

body {
  font-family: "Montserrat";
  text-align: center;
}

p {
  color: #8f8f8f;
}

h2 {
  line-height: 4.5rem;
}

h3 {
  font-size: 1.5rem;
}

.download-button {
  margin: 10% 3% 5% 0;
}

.copyright, .nav-item{
  font-weight: lighter;
}
/* Title Section */

#top-container {
  overflow: hidden;
}

#title {
  text-align: left;
}

h1 {
  font-weight: 900;
  line-height: 1.5;
  color: white;
}

h1, h2 {
    font-size: 3rem;
}

h2, h3 {
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15%;
}

.iphone6-img {
  position: relative;
  top: 25px;
  left: 100px;
  transform: rotate(25deg);
  z-index: -1 width: 55%;
  margin-bottom: -250px;
}

/* Navbar */

nav {
  margin-bottom: 60px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 600;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
}

/* Features Section */

#features {
  padding: 7% 15%;
}

.features {
  display: inline-block;
}

.features-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

.carousel-item {
  padding: 7% 15%;
}


.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding-bottom: 3%;
}

.press-img {
  width: 7%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 2% 0 2%;
}

.pricingText {
  padding: 2% 0;
}

.row {
  margin: 20px;
}

.card-footer {
  border-width: 0px;
}

/* Footer Section */
#cta {
  padding: 3% 0 2%;
}

footer {
  padding-top: 3%;
}

.footerHeading {
  font-weight: bold;
  padding-bottom: 2%;
}

.footer-btn {
  margin: 2% 0.5%;
}

.copyright {
  padding: 1% 0 3%;
}

.fab-footer {
  padding: 0 0.5% 1%;
}

/* Media Query */

@media (max-width: 1130px) {

  body {
    text-align: center;
  }

  .navbar-toggler {
    position: relative;
    left: 150px;
  }

  .title-div {
    width: 400px;
  }

  .iphone6-img {
    position: static;
    transform: rotate(0);
    margin: 30px 0 30px;
  }

  .download-button {
    display: inline-block;
  }
}
